@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './variables.scss';
@import './extends.scss';

  /* 
  * locations
  */

.locations {
  @apply mt-5 ps-1;

  /* 
  * title bttons
  */

  .locations__acions {
    .actions__main {
      @apply flex flex-row justify-between items-center;

      .main__btns {
        @apply flex flex-row gap-5;

        .btns__item {
          @extend %btn-rounded;
          @extend %font-demi;
          @apply py-2 text-sm h-fit w-fit;
          line-height: 18px;
        }

        .btns__item-all, .btns__item-settings {
          @apply py-[10px] px-[31px];
        }

        .btns__item-migration {
          @apply py-[10px] px-[29px];
        }

        .btns__item--active {
          @extend .btns__item;
          @extend %btn-rounded-active;
        }

        .item__sinc {
          @extend .btns__item;
          @extend %btn-rounded-active;
          @apply px-5 flex flex-row gap-2 items-center;
          letter-spacing: 0.14em;

          img {
            @apply h-5 my-2;
          }

          .sinc__text {
            @apply text-sm uppercase;
          }

          .sinc__date {
            @apply text-[8px]
          }
        }
      }
    }

    .actions__second {
      @extend .actions__main;
      @apply mt-5;

      .second__btns {
        @extend .main__btns;
        @apply items-center gap-7;

        .item__create {
          @extend .btns__item;
          @extend %btn-rounded-active;
          @apply flex flex-row gap-2 items-center py-[11px] px-[52px];
          letter-spacing: 0.14em;

          
          img {
            @apply h-3 my-2;
          }

          .create__text {
            @apply text-sm uppercase;
          }
        }

        .btns__search-param {
          @apply flex flex-row gap-2 relative;

          .search-param__checkbox {
            @apply size-5 rounded-sm;
            background-color: $color-light;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none
          }
          
          .search-param__checkbox:checked {
            @apply relative;
            background-color: $color-accent-main;
          }

          .search-param__checkbox:checked::before {
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            background-image: url('../assets/icons/icon-check.png');
            background-size: 8.5px 6.5px;
            background-position: center;
            background-repeat: no-repeat;
          }

          .search-param__text{
            @extend %font-second-medium;
            @apply text-sm cursor-default;
            letter-spacing: 0.04em;
          }
        }

        .btns__search {
          @apply relative;
  
          .btns__search-input {
            @extend %font-medium;
            @apply h-12 w-[300px] ps-9 pe-2 rounded-md
            placeholder:font-medium
            placeholder:uppercase;
            color: $color-dark;
          }

          .btns__search-input:focus {
            @apply outline-offset-0;
            outline-color: $color-dark;
          }

          .btns__search-btn {
            @apply h-[36px] w-[34px] absolute rounded-s-md
            top-1/2 -translate-y-1/2 left-[1px];
            
            .search-btn__icon {
              @apply absolute size-3;
              top: 18px;
              left: 17px;
            }
          }
        }
      }
    }
  }

  /* 
  * main table
  */

  .locations__table {
    @apply mt-9;
    
    .table {
      .table__perent {
        @apply w-max relative;
      }
  
      .table__nested {
        @extend .table__perent;
  
        .nested__td {
          @apply p-0 relative left-11;
  
        };
      }
  
      td {
        @extend %font-book;
        @apply h-7 m-0 ps-0 pe-3 py-[11px] border-0 text-[15px] text-nowrap;
        
      }
  
      .table__first-col {
        @apply h-10 py-2 flex flex-row justify-between items-center gap-[14px];
  
        .first-col__dots {
          @apply h-4;
        }
  
        .first-col__btn {
          @apply w-fit flex flex-row justify-between items-center;
  
          .first-col__btn-icon {
            @apply size-5 hidden;
          }
  
          .first-col__btn-icon--active{
            display: block;
          }
        }
      }
  
      td:nth-child(2) {
        @extend %font-second-demi;
        @apply min-w-[100px] text-[14px];
        color: $color-dark;
      }
  
      td:nth-child(3) {
        @extend %font-medium;
        @apply min-w-11;
        color: $color-accent-main;
      }
  
      td:nth-child(4) {
        @extend %font-second-book;
        @apply min-w-32 text-sm;
      }
  
      td:nth-child(5) {
        @extend %font-second-demi;
        @apply min-w-32 text-sm;
      }
    }
  }
}