$color-light: #FFFFFF;
$color-black: #000000;
$color-dark: #172139;
$color-grey-main: #F4F4F4;
$color-grey-second: #AEAEAE;
$color-grey-third: #A5A5A5;
$color-accent-main: #FF6600;
$color-accent-second: #FF5959;
